.badge {
  background-color: tomato;
  display: block;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  font-weight: 600;
  font-size: 10px;
}

.red-circle {
  border: 2px solid tomato;
  display: block;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: tomato;
  font-weight: 600;
  font-size: small;
  margin-top: 5px;
}
